
<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pubg tournament</title>
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
	<link rel="shortcut icon" type="image/png" href="/favicon.png">
	<link rel="stylesheet" href="{% static '/css/index.css' %}" type="text/css">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
	<nav id="mainNav">
	  <div class="nav-content">
	    <ul>
	      <li><a href="#secAbout" class="smooth_scroll">About</a></li>
	      <li><a href="#secGuide" class="smooth_scroll">Guidlines</a></li>
	      <li><a href="#secSchedule" class="smooth_scroll">Schedule</a></li>
	      <li><a href="#secPoint" class="smooth_scroll">Point Table</a></li>
	      <li><a href="#secPrize" class="smooth_scroll">Prize</a></li>
	      <li><a href="#secRegister" class="smooth_scroll">Register</a></li>
	      <li><a href="https://www.pubgmobile.com/en-US/" style="color: #ffc613;" target="_blank">Download</a></li>
	    </ul>
	  </div>
	</nav>
	<section id="secHero">
	  <div class="hero-content">
	    <h1>PUBG Mobile Tournament</h1>
	    <a href="#secRegister"><button class="but-register">Register</button></a>
	  </div>
	</section>
	<section id="secAnnounce">
	  <div class="announce-content">
	    <div class="announce-head" style="width:50%;">Announcement<br /><marquee>*Important notice will be updated here.</marquee></div>
	    <p class="announce-text">Tournament date released! <a href="#secSchedule">Schedule is here.</a></p>
	  </div>
	</section>
</body>
  </html>
